<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Data Form</title>
    <link href="assets/css/site.css" rel="stylesheet" />
</head>
<body>

<form action="#" th:action="@{/processForm}" th:object="${dataForm}" method="post">

    <table>
        <tr>
            <td><label>Yield (Tons per Acre):</label></td>
            <td><input type="number" step="0.01" th:field="*{yieldPerAcre}" value="35"></td>
            <td>tons</td>
        </tr>
        <tr>
            <td><label>Truck Capacity (Weight):</label></td>
            <td><input type="number" step="0.01" th:field="*{truckCapacity}" value="20"></td>
            <td>tons</td>
        </tr>
        <tr>
            <td><label>Trip Length:</label></td>
            <td><input type="number" step="0.01" th:field="*{tripLength}" value="15"></td>
            <td>miles</td>
        </tr>
        <tr>
            <td><label>Fuel Economy:</label></td>
            <td><input type="number" step="0.01" th:field="*{fuelEconomy}" value="7.2"></td>
            <td>mpg</td>
        </tr>
        <tr>
            <td><label>Interest Rate:</label></td>
            <td><input type="number" step="0.01" th:field="*{interestRate}" value="4.5"></td>
            <td>%</td>
        </tr>
        <tr>
            <td><label>Labor:</label></td>
            <td><input type="number" step="0.01" th:field="*{labor}" value="20.00"></td>
            <td>$/hr</td>
        </tr>
        <tr>
            <td><label>Fuel:</label></td>
            <td><input type="number" step="0.01" th:field="*{fuel}" value="2.8"></td>
            <td>$/g</td>
        </tr>
        <tr>
            <td><label>Repairs:</label></td>
            <td><input type="number" step="0.01" th:field="*{repairs}" value="9.93"></td>
            <td>$/hr</td>
        </tr>
        <tr>
            <td><label>Load Time:</label></td>
            <td><input type="number" step="0.01" th:field="*{loadTime}" value="0.25"></td>
            <td>hours</td>
        </tr>
        <tr>
            <td><label>Unload Time:</label></td>
            <td><input type="number" step="0.01" th:field="*{unloadTime}" value="0.25"></td>
            <td>hours</td>
        </tr>
        <tr>
            <td><label>Idling Time:</label></td>
            <td><input type="number" step="0.01" th:field="*{idlingTime}" value="0.1"></td>
            <td>hours</td>
        </tr>
        <tr>
            <td><label>Idling Fuel Use:</label></td>
            <td><input type="number" step="0.01" th:field="*{idlingFuelUse}" value="1"></td>
            <td>gal/hr</td>
        </tr>
        <tr>
            <td><label>Loaded Speed:</label></td>
            <td><input type="number" step="0.01" th:field="*{loadedSpeed}" value="55"></td>
            <td>mph</td>
        </tr>
        <tr>
            <td><label>Unloaded Speed:</label></td>
            <td><input type="number" step="0.01" th:field="*{unloadedSpeed}" value="55"></td>
            <td>mph</td>
        </tr>
        <tr>
            <td><label>Purchase:</label></td>
            <td><input type="number" step="0.01" th:field="*{purchase}" value="46000"></td>
            <td>$</td>
        </tr>
        <tr>
            <td><label>Sales:</label></td>
            <td><input type="number" step="0.01" th:field="*{sales}" value="13100"></td>
            <td>$</td>
        </tr>
        <tr>
            <td><label>Years of Use:</label></td>
            <td><input type="number" step="0.01" th:field="*{yearsOfUse}" value="10"></td>
            <td>Years</td>
        </tr>
        <tr>
            <td><label>Annual Hours of Use:</label></td>
            <td><input type="number" step="0.01" th:field="*{annualHoursOfUse}" value="150"></td>
            <td>hours</td>
        </tr>

        <!-- ... (similar structure for the rest of the fields) ... -->

        <!-- Please follow the format and continue with the rest of the fields in the same manner. -->

    </table>
    <button type="submit">Submit</button>

    <!-- Output Fields -->
    <h3>Results:</h3>
    <table>
        <tr>
            <td><label>Trips per Acre:</label></td>
            <td><span th:text="${dataForm.tripsPerAcre}"></span></td>
            <td>trips</td>
        </tr>
        <tr>
            <td><label>Trip Duration:</label></td>
            <td><span th:text="${dataForm.tripDuration}"></span></td>
            <td>hours</td>
        </tr>
        <tr>
            <td><label>Interest per Hour:</label></td>
            <td>$<span th:text="${dataForm.interestPerHour}"></span></td>
            <td></td>
        </tr>
        <tr>
            <td colspan="3"></td>
        </tr>
        <tr>
            <td><label>Depreciation:</label></td>
            <td>$<span th:text="${dataForm.depreciationPerYear * dataForm.yearsOfUse}"></span></td>
            <td></td>
        </tr>
        <tr>
            <td><label>Per Year:</label></td>
            <td>$<span th:text="${dataForm.depreciationPerYear}"></span></td>
            <td></td>
        </tr>
        <tr>
            <td><label>Per Hour:</label></td>
            <td>$<span th:text="${dataForm.depreciationPerHour}"></span></td>
            <td></td>
        </tr>
        <tr>
            <td colspan="3"></td>
        </tr>
        <tr>
            <td><label>Cost per Acre:</label></td>
            <td>$<span th:text="${dataForm.costPerAcre}"></span></td>
            <td></td>
        </tr>
        <tr>
            <td><label>Cost per Ton:</label></td>
            <td>$<span th:text="${dataForm.costPerTon}"></span></td>
            <td></td>
        </tr>
    </table>
</form>

</body>
</html>
